@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(100vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pisca {
  0%, 10% {
    scale: 1;
  }
  5% {
    scale: 1.1;
  }

  20%, 30% {
    scale: 1;
  }
  25% {
    scale: 1.1;
  }

  40%, 50% {
    scale: 1;
  }
  45% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

.hero-background {
    
    background: url('/images/background.png');
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin-top:50px;
    overflow-x: hidden;
    z-index: 0;
    background-position: center;
    background-size: cover;
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero-background h1 {
    opacity: 1;
    font-weight: bolder;
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin: 2rem 0 3rem 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-family: "Orbitron", sans-serif;
    
    
}
.faixa-hero{
    
    display: flex;
    padding: 4rem;
    transition: transform 0.3s ease;
    background: linear-gradient(0deg,#1E1E2F 0%,#60F0FF 35%,#FF66D4 70%,#1E1E2F 100%);
    
    animation: fadeInUp 1.5s ease ;
    
}
.faixa-hero button{
    
    margin: 1em 0 1em 0;
    height: 3em;
    width: max-content;
    border-radius: 5px;
    margin: 5px 5px;
    font-size: large;
    font-weight: bolder;
    background:  #FF66D4;
    border: none;
    color: black;
    animation: pisca infinite 3s alternate ;
    font-family: "Orbitron", sans-serif;
    

}

.buttons{
  animation: fadeInUp 3s ease ;
  display: flex;
  justify-content: center;
  align-items: center;
}



.faixa-hero button:hover{
background-color: #9F4EFF;
text-shadow:
  0 0 4px #60F0FF,
  0 0 8px #60F0FF,
  0 0 12px #FF66D4;
color: black;
    
}