.purple {
   color: #7952B3;
}

.skills-title {
   text-align: center;
   padding: 1rem;
   font-size: 3rem;
   font-weight: 800;
   margin: 3rem 0 3rem 0;

}

.text-cyan{
   color:#61DBFB;
}
.text-git{
   color: #f34f29;
}