.hero-display{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 16px;
   margin-bottom: -10px;
}
.texto-top{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: start;
}
.texto-bottom {
 justify-content: space-between;
 grid-column: 1/-1;
 display: flex;
 align-items: center;
 text-align: justify;
 

}
.image-container{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
}
.sobre-autor{
   text-align: center;
   padding: 16px;
   font-size: 48px;
   font-weight: 800;
}


@media (max-width: 424px){
   .hero-display{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
   }
   .texto-top{

   text-align: justify;
}
.texto-bottom{
padding: 0;
}
}