body{
  background-color: #1a1a14;
   color: #f0f0f0;
}




.back-gradient img {
  border-radius: 2em;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}



h2 {
  
  font-weight: 700;
 
}
h3{

  animation: distac 2s infinite;
}


p {

  font-size: 1.1rem;
}



.card {
  background: linear-gradient(0, #FFE06B, #f9faf8, #FFE06B);
 
  border: none;
  border-radius: 1em;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.orcamento{
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-size: small;
}
.topo{
  position: absolute;
  left: 0;
  justify-content: center;
  text-align: center;
  bottom: 200px;
 
  
}
.topo a{
  text-decoration: none;
  
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFD700' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border: 2px solid black; /* Borda preta */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFD700' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.topo-seta{
  
  transform: rotate(90deg);
  
}

footer{
  height:15em;
 display: flex;
 align-items: center;
 
}

@media (max-width:450px) {
  html,body{
  overflow-x: hidden;
}
#navbarMenu {

  max-width: 60%;
  background: linear-gradient(0, #FFE06B, #f9faf8, #FFE06B)
  

}

.nav-link{
  
  z-index: 1000;
}

}





